*{
    padding:0;
    margin:0;
    border:0;
}

h1{
        padding: 1%;
}
h1#topnav{
    font-size:2em;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 1.5%;
    position: relative;
    top: -40px;

}

h1#topnav:hover{
    color: rgba(255,255,255,0.6);
}

nav ul{
    list-style-type: none;
    color:rgb(255, 255, 255);
    padding: 1%;
    display: inherit;
    font-family: 'Raleway', sans-serif;
    position: relative;
    right: -800px;
    top: -40px;
}
nav ul li{
    display: inline;
    margin:3px;
    padding: 1%;
    font-size: 1.25em;
    border-style: solid;
    
}

nav ul li:hover{
    background:rgba(255,255,255,0.6);
    color: black;
    border-color: rgba(255,255,255,0.6);
}

header#navbar{
    background-color: rgba(143,0,0,0.85);
    padding-left: 1%;
    padding-top: 1%;
    box-shadow: 3px 3px 5px #888888;
    border-style: solid;
    border-color: black;
    
}

#topnav{
    display: inline;
}

img{
    border-style: ridge;
}

article#content{
    background-color: rgba(233, 233, 233,0.6)
    margin 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    max-width: 1500px;
    box-shadow: 3px 3px 5px #888888;
    font-family: 'Raleway', sans-serif;
}
